<html>
  <head>
    <title>Hippo Framework</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
    <style type="text/css">
      button.btn-row{
        margin-top:3px;
      }
    </style>
    <script src="https://unpkg.com/jquery@3.1.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">

      var latest_tasks = [];

      function killTask(mesosId, btn) {
        $(btn).button('loading');
        $.get('/tasks/' + mesosId + '/kill/');
      }

      function deleteTask(mesosId, btn) {
        $(btn).button('loading');
        $.ajax({
          url:'/tasks/' + mesosId + '/',
          method:'DELETE'
        });
      }

      function rerunTask(mesosId, btn) {
        $(btn).button('loading');
        for(t of latest_tasks) {
          if(t.mesos_id == mesosId) {
            var new_task = Object.assign({},t);
            delete new_task.mesos_id;
            delete new_task.mesos_state;
            delete new_task.status_tstamp;
            postTask(new_task);
            break;
          }
        }
      }

      function postTask(task) {
        $.ajax({
          type: 'POST',
          url: '/tasks/',
          data: JSON.stringify(task),
          contentType: "application/json",
          dataType: 'json'
        });
      }

      var latest_queues = [];

      function deleteQueue(id, btn) {
        $(btn).button('loading');
        $.ajax({
          url:'/queues/' + id + '/',
          method:'DELETE'
        });
      }

      function enableQueue(id, btn) {
        $(btn).button('loading');
        $.getJSON('/queues/' + id + '/enable/');
      }

      function disableQueue(id, btn) {
        $(btn).button('loading');
        $.getJSON('/queues/' + id + '/disable/');
      }

      function postQueue(queue) {
        $.ajax({
          type: 'POST',
          url: '/queues/',
          data: JSON.stringify(queue),
          contentType: "application/json",
          dataType: 'json'
        });
      }


      $( document ).ready(function() {

        $('#tasks_table').DataTable({
          stateSave: true,
          paginate:false,
          info: false,
          order: [[2, 'desc']]
        });

        function update_tasks() {
          $.getJSON('/tasks/',function(data) {
            data.reverse();
            latest_tasks = data;

            var task_rows = [];
            for (t of data) {
              var state_color = 'text-primary';
              if (['TASK_FAILED','TASK_LOST'].includes(t.mesos_state)) {
                state_color = 'text-danger';
              }
              if (['TASK_FINISHED','TASK_KILLED'].includes(t.mesos_state)) {
                state_color = 'text-success';
              }
              var dt_format = '';
              if(t.status_tstamp) {
                var dt = new Date(t.status_tstamp * 1000);
                dt_format = dt.toLocaleDateString() + ' ' + dt.toLocaleTimeString();
              }
              var details_btn_html = `<button class="btn btn-xs btn-info btn-row" onclick="taskDetails('${t.mesos_id}',this)">
                    Details <span class="glyphicon glyphicon-cog"></span>
                  </button>`;
              var kill_btn_html = `<button class="btn btn-xs btn-warning btn-row" data-loading-text="Killing..." onclick="killTask('${t.mesos_id}',this)">
                    Kill <span class="glyphicon glyphicon-screenshot"></span>
                  </button>`;
              var delete_btn_html = `<button class="btn btn-xs btn-danger btn-row" data-loading-text="Deleting..." onclick="deleteTask('${t.mesos_id}',this)">
                    Delete <span class="glyphicon glyphicon-remove"></span>
                  </button>`;
              var run_again_btn_html = `<button class="btn btn-xs btn-success btn-row" data-loading-text="Starting..." onclick="rerunTask('${t.mesos_id}',this)">
                    Re-Run <span class="glyphicon glyphicon-play"></span>
                  </button>`;
              var btn_html = details_btn_html + ' ' + delete_btn_html + ' ' + run_again_btn_html;
              if(['TASK_RUNNING','TASK_STAGING'].includes(t.mesos_state)) {
                btn_html = details_btn_html + ' ' + kill_btn_html;
              }
              task_rows.push([
                t.mesos_id,
                '<p class="' + state_color + '">' + t.mesos_state + '</span>',
                dt_format,
                t.container.docker.image,
                t.cmd,
                btn_html
              ]);
            }
            var tbl = $('#tasks_table').DataTable();
            tbl.rows().remove();
            tbl.rows.add(task_rows).draw();
          });
        }

        update_tasks();
        setInterval(update_tasks, 3000);


        $('#queues_table').DataTable({
          stateSave: true,
          paginate:false,
          info: false,
          order: [[0, 'asc']]
        });

        function update_queues() {
          $.getJSON('/queues/',function(data) {
            latest_queues = data;
            var queue_rows = [];
            for (q of data) {
              var state_color = 'text-success';
              if (q.queue.status == 'DISABLED') {
                state_color = 'text-danger';
              }
              var dt_format = '';
              if(q.last_run_tstamp) {
                var dt = new Date(q.last_run_tstamp * 1000);
                dt_format = dt.toLocaleDateString() + ' ' + dt.toLocaleTimeString();
              }
              var details_btn_html = `<button class="btn btn-xs btn-info btn-row" onclick="queueDetails('${q.id}',this)">
                    Details <span class="glyphicon glyphicon-cog"></span>
                  </button>`;
              var disable_btn_html = `<button class="btn btn-xs btn-warning btn-row" data-loading-text="Disabling..." onclick="disableQueue('${q.id}',this)">
                    Disable <span class="glyphicon glyphicon-pause"></span>
                  </button>`;
              var enable_btn_html = `<button class="btn btn-xs btn-success btn-row" data-loading-text="Enabling..." onclick="enableQueue('${q.id}',this)">
                    Enable <span class="glyphicon glyphicon-play"></span>
                  </button>`;
              var delete_btn_html = `<button class="btn btn-xs btn-danger btn-row" data-loading-text="Deleting..." onclick="deleteQueue('${q.id}',this)">
                    Delete <span class="glyphicon glyphicon-remove"></span>
                  </button>`;
              var btn_html =  details_btn_html + ' ' + disable_btn_html;
              if(q.queue.status == 'DISABLED') {
                btn_html = details_btn_html + ' ' + enable_btn_html + ' ' + delete_btn_html;
              }
              queue_rows.push([
                q.queue.name,
                q.id,
                '<p class="' + state_color + '">' + q.queue.status + '</span>',
                dt_format,
                q.queue.type,
                q.container.docker.image,
                q.cmd,
                btn_html
              ]);
            }
            var tbl = $('#queues_table').DataTable();
            tbl.rows().remove();
            tbl.rows.add(queue_rows).draw();
          });
        }

        update_queues();
        setInterval(update_queues, 3000);

        $('.dataTables_filter input[type="search"]').css({'width':'300px','display':'inline-block','font-size':'1.3em','height':'36px'}).
          parent().css({'float':'left'});
      });


    </script>
  </head>
  <body>
    <h2 style="padding-left:10px;">Hippo Framework</h2>
    <div id="app" style="padding-top:10px;">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#queues" aria-controls="queues" role="tab" data-toggle="tab">
            <h4>Queues</h4>
          </a>
        </li>
        <li role="presentation" style="padding-left:20px;">
          <a href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">
            <h4>Tasks</h4>
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="tasks">
          <div class="row" style="padding:10px;">
            <div class="col-xs-12">
              <a href="#" class="add-task-btn btn btn-primary pull-right">Add Task <span class="glyphicon glyphicon-plus"></span></a>
              <table id="tasks_table" class="table table-bordered table-condensed">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>State</th>
                    <th>Updated</th>
                    <th>Image</th>
                    <th>Command</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="queues">
          <div class="row" style="padding:10px;">
            <div class="col-xs-12">
              <a href="#" class="add-queue-btn btn btn-primary pull-right">Add Queue <span class="glyphicon glyphicon-plus"></span></a>
              <table id="queues_table" class="table table-bordered table-condensed">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Task Id Prefix</th>
                    <th>Status</th>
                    <th>Last Poll</th>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Command</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="modal fade" id="queue-modal">
      <div class="modal-dialog" style="width:700px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Queue</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="row">

                <div class="form-group">

                  <label>Type</label>
                  <select class="form-control" id="selectType">
                    <option value="DEFAULT">Managed Standard Job</option>
                    <option value="PIPELINE_J">Managed Pipeline Jenkinsfile Job</option>
                    <option value="PIPELINE_S">Managed Pipeline Script Job</option>
                    <option value="CUSTOM">Unmanaged Job</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Remote Hesos Build</label><br>
                  <span id="span-remote-build-info"></span>
                </div>



                <div class="form-group">
                    <label>Build Engine</label><br>
                    <select class="form-control" id="selectBuildJobEngine">
                      {% for bengine in build_engines %}
                      <option value="{{ bengine.id }}">{{ bengine.name }}{% if bengine.default %} (default){% endif %}</option>
                      {% endfor %}
                    </select>
                  </div>


                  <div class="form-group col-xs-6">
                    <label>Git Repository Url</label>
                    <input id="inputBuildGitRep" type="text" class="form-control" placeholder="https://github.com/Hobsons/my-repo.git" />
                  </div>

                        <div class="form-group col-xs-6">
                          <label>Branch/Tag Name in Jenkins Format</label>
                          <input id="inputBuildGitRef" type="text" class="form-control" placeholder="Enter branch or tag ref" />
                          <span style="font-size:0.8em;font-style:italic;">refs/heads/master or refs/tags/mytag, etc.</span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-xs-12">
                          <label>Sparse Checkout Paths</label>
                          <input id="inputBuildGitSparsePaths" type="text" class="form-control" />
                          <span style="font-size:0.8em;font-style:italic;">Checkout only certain paths in the repo. Comma separate multiple paths.</span>
                        </div>
                      </div>
                    </div>

                    <div id="build-modal-jenkinsfile-block">
                      <div class="row">
                        <div class="form-group col-xs-12">
                          <label>Jenkinsfile Path</label>
                          <input id="inputBuildJenkinsfile" type="text" class="form-control" placeholder="/my/jenkinsfile/path/Jenkinsfile-custom" />
                          <span style="font-size:0.8em;font-style:italic;">Defaults to "Jenkinsfile" in project root</span>
                        </div>
                      </div>
                    </div>

                    <div id="build-modal-pipeline-script-block">
                      <div class="row">
                        <div class="form-group col-xs-12">
                          <label>Pipeline Script Body</label>
                          <textarea id="inputBuildPipelineScript" rows="6" class="form-control" placeholder="" ></textarea>
                        </div>
                      </div>
                    </div>

                    <div id="build-modal-docker-info-block">
                      <div class="row">
                        <div class="form-group col-xs-6">
                          <label>Path to Dockerfile in Repository</label>
                          <input id="inputBuildDockerfilePath" type="text" class="form-control" placeholder="/my/build/path/Dockerfile-custom" />
                          <span style="font-size:0.8em;font-style:italic;">Defaults to "Dockerfile" in repository root</span>
                        </div>
                        <div class="form-group col-xs-6">
                          <label>Docker Build Path in Repository</label>
                          <input id="inputBuildDockerBuildPath" type="text" class="form-control" placeholder="/my/build/path" />
                          <span style="font-size:0.8em;font-style:italic;">Defaults to repository root</span>
                        </div>
                      </div>
                    </div>

                    <div id="build-modal-custom-jenkins-jobname" class="form-group">
                      <label>Jenkins Job Name</label>
                      <input id="inputBuildJenkinsJobName" type="text" class="form-control" placeholder="my-job-name" />
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="form-group col-xs-6" id="build-modal-image-block">
                          <label>Docker Image</label><br>
                          <input type="checkbox" id="cbBuildGeneratesDockerImage" checked value=""> Build should generate docker image
                        </div>
                        <div class="form-group col-xs-6" id="build-modal-timeout-block">
                          <label>Build Timeout Minutes</label><br>
                          <input type="number" id="inputBuildTimeout" value="0" min="0" max="360">
                          <span style="font-size:0.8em;font-style:italic;">If 0, defaults to hesos system default</span>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="tab-pane" id="build-tab-coverage">
                    <div class="form-group">
                      <label>Coverage Type</label>
                      <select class="form-control" id="selectBuildCoverageType">
                        <option value="NONE">None</option>
                        <option value="COBERTURA">Cobertura</option>
                        <option value="JACOCO">Jacoco</option>
                      </select>
                    </div>

                    <div id="build-modal-cobertura-block">
                      <div class="form-group">
                        <label>Cobertura Report Directory</label>
                        <input id="inputBuildCoberturaReport" type="text" class="form-control" placeholder="**/coverage.xml" />
                      </div>
                    </div>

                    <div id="build-modal-jacoco-block">
                      <div class="form-group">
                        <label>Jacoco Exec Pattern</label>
                        <input id="inputBuildJacocoExecPattern" type="text" class="form-control" placeholder="**/**.exec" />
                      </div>
                      <div class="form-group">
                        <label>Jacoco Class Pattern</label>
                        <input id="inputBuildJacocoClassPattern" type="text" class="form-control" placeholder="**/classes" />
                      </div>
                      <div class="form-group">
                        <label>Jacoco Source Pattern</label>
                        <input id="inputBuildJacocoSourcePattern" type="text" class="form-control" placeholder="**/src/main/java" />
                      </div>
                    </div>

                    <div id="build-modal-coverage-min-block">
                      <div class="form-group">
                        <label>Minimum Line Coverage % Required To Pass</label>
                        <input id="inputBuildCoverageMinimum" type="text" class="form-control" placeholder="85" />
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Sonar</label><br>
                      <input type="checkbox" id="cbBuildSonar" value=""> Enable
                    </div>

                    <div id="build-modal-sonar-block">
                      <div class="form-group">
                        <label>Sonar Properties</label>
                        <textarea id="inputBuildSonarProperties" rows="3" class="form-control" placeholder="" ></textarea>
                      </div>
                    </div>

                  </div>

                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="build-tab-advanced">

                   <div class="form-group">
                     <label>Additional Shell Commands</label>
                     <textarea id="textBuildCommands" class="form-control" style="white-space:pre;" rows="3" placeholder="/scripts/run_tests.sh"></textarea>
                     <span style="font-size:0.8em;font-style:italic;">
                       To run commands in a container of this image, use a command of the form "docker run [my options] $BUILD_IMAGE [my command]".
                       Insert $DOCKER_BUILD_COMMAND to control where in the commands the image build occurs. Put it after any commands that should run before the build occurs, and before any commands that use $BUILD_IMAGE.
                     </span>
                   </div>

                   <div class="form-group">
                     <label>Docker Build Params</label>
                     <input id="inputBuildDockerBuildParams" class="form-control" type="text"></textarea>
                     <span style="font-size:0.8em;font-style:italic;">
                       Additional parameters to pass to the "docker build" command run to build the image. e.g. --build-arg MYVAR=MYVAL --build-arg SECRET=$HESOS_CRED(mySecret)
                     </span>
                   </div>

                   <div class="form-group">
                     <label>Custom Job Config</label>
                     <textarea id="textBuildAdditionalConfig" class="form-control" rows="3" ></textarea>
                     <span style="font-size:0.8em;font-style:italic;">
                       Plugin or other config XML for the build job that should be passed into the build server as-is.  This xml
                       will be smart-merged with the default config.
                     </span>
                     <a style="margin-top:3px;" class="btn btn-xs btn-success pull-right" onclick="Builds.validate_additional_config_btn();return false;">validate</a>
                      <span id="buildAdditionalConfigValid" class="pull-right" style="margin-right:8px;margin-top:3px;"></span>
                   </div>

                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="build-tab-prepost">

                    <div class="form-group">
                      <label>Pre-Build Hesos Commands</label>
                      <textarea id="textPreBuildCommands" class="form-control" rows="3" ></textarea>
                      <span style="font-size:0.8em;font-style:italic;">
                        Hesos commands to execute before the build is started.  e.g. "ACTIVATE myapp-mydep".  See Hesos User Guide for list of commands.
                      </span>
                    </div>

                    <div class="form-group">
                      <label>Post-Build Hesos Commands</label>
                      <textarea id="textPostBuildCommands" class="form-control" rows="3" ></textarea>
                      <span style="font-size:0.8em;font-style:italic;">
                        Hesos commands to execute after the build completes  e.g. "NOTIFY COMMITTER ON FAILURE".  See Hesos User Guide for list of commands.
                      </span>
                    </div>

                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>

            </form>
            <div id="queue-modal-error" class="callout callout-danger" style="display:none;margin-bottom:0px;">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button id="saveQueueBtn" type="button" class="btn btn-primary" data-loading-text="Saving...">Save</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>